body {
  font-family: "Wix Madefor Display", sans-serif !important;

  overflow-x: hidden;
}
.logo-nav {
  max-width: 220px;
  padding-left: 2rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}
.nav-link {
  color: #322a1d;
}

.first-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  padding: 2rem;
}

.main-text {
  padding-left: 2rem;
  padding-right: 6rem;
  font-size: 1.3rem;
}

.logo-main-section {
  max-width: 85%;
  padding-top: 1rem;
}

.carousel-item {
  opacity: 0.9;
  padding: 2rem;
}

.go {
  font-size: 2rem;
  font-weight: 600;
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 0rem;
  color: #749443;
  margin-bottom: 0rem;
}
.pro-go {
  color: #749443;
  text-align: center;
  font-size: xx-large;
  font-weight: 600;
  padding-top: 4rem;
  padding-bottom: 2rem;
}
#news {
  padding-top: 0rem;
}
.logo-mini {
  width: 2.5rem;
}

.btn-custom {
  background-color: #76973f;
  color: white;

  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn-custom:hover {
  background-color: #5a7230; /* Change color on hover */
}
.flex-container {
  display: flex;
  justify-content: center; /* Aligns buttons in the center horizontally */
  gap: 4rem; /* Space between buttons */
  flex-wrap: wrap;
}
.team-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 4rem;
  padding: 4rem;
  padding-top: 0;
}
.team-member {
  box-shadow: 0.2rem 0.2rem 0.2rem #888;
  background-color: #f8f9fa;
  border-radius: 0.5rem;
}
.ava {
  width: 12rem;

  display: block;
  margin: 1.5rem auto 0 auto;
  border-radius: 50%;
  box-shadow: 0.2rem 0.2rem 0.2rem #888;
}
.text-wrapper {
  padding: 2rem;
}
.news-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 4rem;
  padding: 4rem;
  padding-top: 0;
}
.news-item-wrapper {
  border-color: #888;
  background-color: #f8f9fa;
  border-radius: 0.5rem;
}
.news-image {
  width: 80%;

  display: block;
  margin: 1.5rem auto 0 auto;

  box-shadow: 0.2rem 0.2rem 0.2rem #888;
}
.news-text {
  padding: 0.5rem;
}
.news-title {
  font-weight: bold;
  font-size: 1.2rem;
  padding-left: 0.5rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}
.current-project-container {
  margin: 2rem 10rem;
}

.float-image {
  float: left; /* Makes the image float to the left */
  margin-right: 3rem; /* Adds space between the image and the text */
  margin-bottom: 3rem; /* Adds space below the image */
  width: 60%; /* Optional: set a size for the image */
}

.filler {
  display: block;
  opacity: 0.9;
  margin: 3rem auto;
  width: 70%;
}
.project-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: 5rem;
  padding-top: 0;
}
.project-text {
  padding: 2rem;
  padding-left: 0;
  padding-top: 0;
}
.project-image {
  max-width: 75%;
  display: block;
  margin: 0 auto;
}
.project-title {
  font-weight: bold;
  font-size: 1.2rem;

  padding-bottom: 1rem;
}
.hidden {
  display: none;
}
.read-more-button {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}

.futter {
  background-color: #f8f9fa;
}

.contacts-wrapper {
  padding: 2rem;
}
a {
  text-decoration: none;
}
.flag {
  width: 1.5%;
}
.language {
  margin-left: 4rem;
  margin-top: 1rem;
}
.link-style {
  margin: 0.4rem;
  font-size: 0.7rem;
  text-decoration: none;
}
.zoom-photo {
  width: 30%;
}
.zoom-photo2 {
  float: right; /* Makes the image float to the left */
  margin-left: 3rem; /* Adds space between the image and the text */
  margin-bottom: 3rem; /* Adds space below the image */
} /* }

/* Portrait orientation */
@media (orientation: portrait) and (max-width: 1024px) {
  .go {
    font-size: 1.3rem;
  }
  .main-text {
    font-size: 0.7rem;
  }
}

/* Landscape orientation */
@media (orientation: landscape) and (max-width: 1180px) {
  .go {
    font-size: 1.5rem;
  }
  .main-text {
    font-size: 1rem;
  }
}
@media (max-width: 768px) {
  .current-project-container {
    margin: 2rem 3rem; /* Reduces margins for smaller screens */
  }

  .float-image {
    width: 100%; /* Image takes full width on small screens */
    float: none; /* Removes floating */
    margin-right: 0; /* Removes right margin */
    margin-bottom: 2rem; /* Keeps bottom margin */
  }
}

@media (max-width: 480px) {
  .go {
    font-size: 1.5rem;
  }
  .main-text {
    padding-right: 1rem;
    font-size: 1rem;
  }
  .project-container {
    padding: 1rem;
    padding-top: 0;
  }
  .project-text {
    padding: 2rem;
    padding-left: 0;
    padding-top: 0;
  }
  .project-image {
    max-width: 90%;
    display: block;
    margin: 0 auto;
  }
}
