body {
  font-family: "Wix Madefor Display", sans-serif !important;
}
.logo-nav {
  max-width: 220px;
  padding-left: 2rem;
  padding-bottom: 0.5rem;
}
.nav-link {
  color: #322a1d;
}

.first-section {
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  padding: 2rem;
}
.main-text {
  padding-left: 2rem;
  padding-right: 6rem;
  font-size: 18px;
}
.logo-main-section {
  max-width: 65%;
  padding-top: 2rem;
  padding-bottom: 1rem;
}
.carousel-item {
  opacity: 0.9;
  padding: 2rem;
}
section {
  color: #749443;
  padding-left: 2rem;
  padding-bottom: 0;
  font-size: xx-large;
  font-weight: 600;
}
